# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
furnace
*.exe
*.out
*.app

# Autotools files
.deps
Makefile
autom4te.cache
config.log
config.status
config.h
compile
stamp-h1

# Backup files
*~

Makefile.in
config.guess
config.sub
aclocal.m4
translate
install-sh
configure
missing
depcomp
